<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <false/>
    </dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>用于在发布动态时添加位置信息</string>
    <key>VibeAPIBaseURL</key>
    <string>https://api.yhugo.cn/api</string>
</dict>
</plist>
